RewriteEngine On
RewriteBase /abc/

# 如果请求的不是实际存在的文件
RewriteCond %{REQUEST_FILENAME} !-f
# 如果请求的不是实际存在的目录
RewriteCond %{REQUEST_FILENAME} !-d
# 将所有请求重定向到index.html
RewriteRule ^(.*)$ index.html [L,QSA]
